# Gradle
.gradle/
/build/
app/build/

# Local config
local.properties

# IDE
.idea/
*.iml
.vscode/

# Native build
.cxx/
*.so

# Keystore
*.jks
*.keystore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# apk
*.apk
*.aab
